.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .category-card {
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(91, 91, 91, 0.719);
    transition: transform 0.2s ease;
    background-color: rgba(246, 242, 255, 0.948);
  }
  
  .category-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  

  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
  }
  